{% extends "base.html" %}

{% block content %}

<table class="table table-striped">
	<tr><td>
		<button type="button" class="btn btn-inverse" onclick="location.href='/agents'">Agents</button>
		<button type="button" class="btn btn-inverse" onclick="location.href='/agent/{{ agentid }}/jobs'">Job</button>
	</td></tr>
</table>


{% from "_formhelpers.html" import render_field %}

<h1>Add Job</h1>

<form method=post action="">
  <dl>

    {{ render_field(form.jobtype) }}
    {{ render_field(form.command) }}

  </dl>
  <p><input type=submit value=Add>
</form>

{% endblock %}
