{% extends "base.html" %}



{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}

    <ul class=flashes>
    {% for message in messages %}
     <h2 class='text-success'>{{ message }}</h2>
    {% endfor %}
    </ul>
   <hr>
  {% endif %}
{% endwith %}


<table class="table table-striped">
	<tr><td>
		<button type="button" class="btn btn-inverse" onclick="location.href='/agents'">Agents</button>
		<button type="button" class="btn btn-inverse" onclick="location.href='/agent/{{ agent.agentid }}/jobs/add'">Add Job</button>
	</td></tr>
</table>

	<h1>{{ agent.hostname }}</h1>
	<h4>{{ agent.agentid }}</h4>

	{% for job in jobs %}
		<table class="table table-striped">
			<th>Status</th>
			<th>Type</th>
			<th>Create Time</th>
			<th>Completed Time</th>
			<th>PID</th>

			<tr>
				<td>{{ job.status }}</td>
				<td>{{ job.jobtype }}</td>
				<td>{{ job.createtime }}</td>
				<td>{{ job.completedtime }}</td>
				<td>{{ job.pid }}</td>



			</tr>
		</table>

		<table class="table table-striped">
			<tr>
				<td>Command:</td>
				<td><pre>{{ job.command }}</pre></td>
			</tr>
			<tr>
				<td>Result: </td>
				<td>
					<pre>
						<script>
							document.write(window.atob("{{ job.cmdresult }}"));
						</script>
					</pre>
				</td>
			</tr>
		</table>	
	{% endfor %}
	
{% endblock %}



			

			
			