{% extends "base.html" %}
{% block content %}

<table class="table table-striped">
	<tr><td>
		<button type="button" class="btn btn-inverse" onclick="location.href='/agents'">Agents</button>
		<button type="button" class="btn btn-inverse" onclick="location.href='/agent/{{ agent.agentid }}/jobs'">Jobs</button>
	</td></tr>
</table>


	<h1>{{ agent.agentid }}</h1>
    <table class="table table-striped">
		<tr>
			<td>Hostname:</td>
			<td>{{ agent.hostname }} </td>
		</tr>
		<tr>
			<td>OS Info:</td>
			<td>{{ agent.osinfo }} </td>
		</tr>
		<tr>
			<td>Create Time:</td>
			<td>{{ agent.createtime }} </td>
		</tr>
		<tr>
			<td>Last Poll:</td>
			<td>{{ agent.lastpolltime }} </td>
		</tr>		

	{% for parameter in parameters %}
		<tr>
			<td>C&C List: </td>
			<td>{{ parameter.httpcclist }}</td>
		</tr>
		<tr>
			<td>Useragent: </td>	
			<td>{{ parameter.useragent }}</td>
		</tr>
		<tr>
			<td>Initial Wait Time: </td>
			<td>{{ parameter.initialwaittime }}</td>

		<tr>
			<td>Poll Time</td>	
			<td>{{ parameter.polltime }}</td>
        </tr>
		<tr>
			<td>Poll Drift</td>	
			<td>{{ parameter.polldrift }}</td>
        </tr>
		<tr>
			<td>Allowed Times</td>	
			<td>{{ parameter.allowedtimes }}</td>
        </tr>
		<tr>
			<td>Protocol</td>	
			<td>{{ parameter.protocol }}</td>
		</tr>
	{% endfor %}
	</table>


{% endblock %}

(id integer primary key autoincrement, agentid TEXT, httpcclist TEXT, useragent TEXT, initialwaittime INTEGER, polltime INTEGER, polldrift INTEGER, allowedtimes TEXT, protocol TEXT)'