{% extends "base.html" %}

{% block content %}
<h1>Agents</h1>
    <table class="table table-striped">
    	<th>Status</th>
    	<th>AgentID</th>
    	<th>Hostname</th>
		<th>OS Info</th>
		<th>Create Time</th>
		<th>Last Polltime</th>
		<th></th>
		<th></th>

	{% for agent in agents %}

		<tr>
			{% for parameter in parameters %}
				{% if parameter.agentid == agent.agentid %} 
					<script>
						var lastpolltime_str = "{{ agent.lastpolltime }}";
						var bits = lastpolltime_str.split(/\D/);
						var lastpolltimedate = new Date(bits[0], --bits[1], bits[2], bits[3], bits[4]);
						var lastpolltime_ms = lastpolltimedate.getTime();


						var nowdate_ms = new Date().getTime();
						
						var dif = nowdate_ms - lastpolltime_ms;

						var polltime = {{ parameter.polltime }} * 10000;
						var polldrift = {{ parameter.polldrift }} * 10000;
						var pollmax = polltime + polldrift;

						document.write(dif);
						document.write(":");
						document.write(polltime);

						if (dif < polltime) {
							document.write('<td><img alt="" src="/static/images/green_icon.png" /></td>');
								}
						else if (dif < pollmax) {
							document.write('<td><img alt="" src="/static/images/yellow_icon.png" /></td>');
				
							}
						else {
							document.write('<td><img alt="" src="/static/images/red_icon.png" /></td>');
							}


					</script>
				{% endif %}

			{% endfor %}

			
			<td>{{ agent.agentid }}</td>
			<td>{{ agent.hostname }} </td>
			<td>{{ agent.osinfo }} </td>
			<td>{{ agent.createtime }} </td>


			<td>{{ agent.lastpolltime }} </td>
			
			<td><button type="button" class="btn btn-inverse" onclick="location.href='/agent/{{agent.agentid}}/'">Detail</button></td>
			<td><button type="button" class="btn btn-inverse" onclick="location.href='/agent/{{agent.agentid}}/jobs'">Jobs</button></td>

		</tr>
	{% endfor %}
    </table>
{% endblock %}