<!DOCTYPE html>
<html>
	<head>
	    <title>Rainbowbot Report</title>
	    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
	    <link href="/static/bootstrap-responsive.min.css" rel="stylesheet">
	    <script src="/static/jquery-latest.js"></script>
	    <script src="/static/bootstrap.min.js"></script>
	    <script src="/static/moment.min.js"></script>
    <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <<a class="brand" href="#">Rainbowbot - Captain K'Nuckles Release v0.9.4</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/agents">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


	<div class="container">

		  	<p class="brand"><img alt="" src="/static/images/unicorn.jpg" /></p>
		  	<p>Rainbowbot - Captain K'Nuckles Release v0.9.4</p>
		  	<hr>
		    {% block content %}{% endblock %}
			<hr>

		</div>

		<div id="footer">
			<div class="container">
				<p class="muted credit">&copy; Rainbowbot - Joe Vest 2013</p>
			</div>
		</div>



	</body>
</html>


